*{
  font-family: 'Open Sans', Arial;
  margin: 0;
  padding: 0;
}

a{
  cursor: pointer;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #4F4F4F;
}

#section-one{
  background-image: url('media/background.png');
  background-size: cover;
}

#section-two{
  background-color: #EDEDED;
}

#section-three{
  background-color: #e6daa8;
  height: 800px;
}

#section-four{
  background-color: #daddf0;
  color: black;
}

#section-five{
  background-color: #EDEDED;
}

#section-six{
  background-color: #e6daa8;
}

#section-seven{
  background-color: #EDEDED;
}

nav{
  font-size: 17px;
  background-color: #4F4F4F;
  position:fixed;
  width: 100%;
  height: 40px;
  text-align:center;
  padding-top:20px;
  opacity: 0.8;
  z-index: 600;
}

nav li{
  display: inline-block;
  margin-left: 60px;
}

ul{
  width: 100%;
  color: #EDEDED;
}

nav a{
  text-decoration: none;
}

nav a:hover{
  color: #e6daa8;
}

.imageoverlay{
  color: #000;
  top: 200px;
  position: absolute;
  text-align: center;
  margin-left: 28%;
  left: 0;
  z-index: 100;
}

.logoanimation{
  float: left;
  position: absolute;
  top: -200px;
  left: -270px;
  text-align: center;
}

.imageoverlay h3{
  font-weight: 100;
  float: left;
  color: #707070;
  margin: 15px 0 0 20px;
}

.bigimage{
  float: left;
  margin-top: 150px;
}

.bigimage img{
  width: 100%;
}

.logo{
  width: 250px;
  float: left;
}

.leftimg{
  width: 400px;
  position: absolute;
  left: 200px;
  float: left;
}

.rightimg{
  float: left;
  margin-top: 127px;
}

.text{
  width: 500px;
  color: #4F4F4F;
}

.text img{
  width: 400px;
  margin-bottom: 10px;
}

.text p{
  font-size: 18px;
  line-height: 32px;
}

.right{
  float: left;
  margin: -100px 0 0 400px;
}

.left{
  float: left;
  margin: -100px 0 0 0;
}
